<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/assets/style.css" />
</head>
<body>
  <header class = "site-header">
    <h1 class = "site-title">Pang's Blog</h1>

    <div style="padding: 1rem 0;">
      <hr/>
    </div>
    <div class= "nav-wrapper">
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="">靈修</a></li>
          <li><a href="">非洲短宣日記</a></li>
          <li><a href="">程式學習筆記</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <main>
    {{ content }}
  </main>
</body>
</html>